<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B08AE132DF869C000C194F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B08AE232DF869C300C194F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B08AE2D2DF869C300C194F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B08AE892DF8BC1A00C194F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B4813ED2DF8C95900FE8E47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
